/__pycache__/*
/scikit-image/*
ytb.db
geckodriver.log
main.spec
/ytb_up.egg-info/*
/build/*
/dist/*
example.py
/test-results/*
screen-recording/*
/ytb_up/__pycache__/*
/cookies/*
*.xlsx
*.html
onefile-*.py
batch_files_*.py