/__pycache__/*
/scikit-image/*
ytb.db
geckodriver.log
main.spec
/tsup.egg-info/*
/build/*
/dist/*
example.py
/test-results/*
screen-recording/*
/tsup/__pycache__/*
/cookies/*
*.xlsx
*.html
onefile-*.py
batch_files_*.py
*.json
debug.sh
